<%= form_with(model: weight_event, local: true) do |form| %>
  <% if weight_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weight_event.errors.count, "error") %> prohibited this weight_event from being saved:</h2>

      <ul>
        <% weight_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
