<p id="notice"><%= notice %></p>

<h1>Weight Events</h1>

<%= render 'layouts/pager', rparams: @rparams, path_func: method(:weight_events_path), page: @page, per: @per %>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Label</th>
      <th>Value</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weight_events.each do |weight_event| %>
      <tr>
        <td><%= weight_event.created_at %></td>
        <td>
          <select class="select_label" data-id="<%= weight_event.id %>">
            <% ['', 'Charlie', 'Sei'].each do |l| %>
              <option value="<%= l %>" <%= weight_event.label== l ? 'selected' : '' %>><%= l %></option>
            <% end %>
          </select>
        </td>
        <td><%= weight_event.value %></td>
        <td>
          <% if weight_event.image_file_id %>
            <img src="<%=image_file_path(weight_event.image_file_id) %>" width="160px"  height="120px">
          <% end %>
        </td>
        <td><%= link_to 'Show', weight_event %></td>
        <td><%= link_to 'Edit', edit_weight_event_path(weight_event) %></td>
        <td><%= link_to 'Destroy', weight_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'layouts/pager', rparams: @rparams, path_func: method(:weight_events_path), page: @page, per: @per %>

<br>

<%= link_to 'New Weight Event', new_weight_event_path %>

<script type="text/javascript">
  const weight_events_url = "<%=weight_events_path %>"

  $(function () {
    $(".select_label").change(function() {
      const id = $(this).attr('data-id')
      const label = $(this).val()
      $.ajax(
        weight_events_url + "/" + id + '.json',
        {
          method: 'PATCH',
          data: $.param({
            'weight_event[label]': label
          })
        }
      )
    });
  })
</script>
